/* Estilo da navbar */
.custom-navbar {
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .brand-logo {
    font-weight: bold;
    font-size: 24px;
    color: black;
  }
  
  .navbar-icons {
    display: flex;
    align-items: center;
  }
  
  .nav-btn {
    background-color: transparent;
    border: none;
    margin-left: 15px;
    padding: 5px;
  }
  
  .nav-btn img {
    width: 30px;
    height: 30px;
  }
  
  .profile-btn img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }
  
  .navbar .dropdown-toggle::after {
    display: none; /* Remove o ícone padrão do dropdown */
  }
  