.Container-perfil{
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

.Container-perfil h5{
    font-size: 2.5rem;
    font-weight: bold;
}

.profile-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-bottom: 120px;
    
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .profile-tabs ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin-top: 13px;
  }
  
  .profile-tabs ul li {
    cursor: pointer;
    font-weight: bold;
    color: #555;
  }
  
  .profile-tabs ul li:hover {
    color: #ff6f61;
  }
  
  .recipes-list {
    display: flex;
    gap: 20px;
  }
  
  .recipe-card {
    width: 150px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
  
/* From Uiverse.io by gharsh11032000 */ 
.button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color:#000;
    border: 2px solid #FF5B00;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #FF5B00;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    color: #fff;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .button:active {
    scale: 1;
  }
  
  
  